* {
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  }

h1 {
  margin-bottom: 30px;
  margin-top: 30px;
  text-align: center;
  font-size: 200%;
  font-family: Helvetica;
}

p {
  position: relative;
  width: 90%;
  border: 1px solid black;
  padding: 14px;
  background-color: grey;
  height: 150px;
  font-family: Helvetica;
  font-size: 100%;
  color: black;
  overflow: hidden;
}

/*section title class below sets attributes for the sectional titles*/

.sectiontitle {position: absolute;
top: 0px;
right: 0;
border: 1px solid black;
padding-left: 16px;
padding-right: 16px;
font-size: 125%;
font-weight: bold;
text-align: center;
}

/*id's set below set the background colour per section title*/

#Chicken {
    background-color: #feca57;
    }

#Beef {
        background-color: #ff6b6b;
        }

#Sushi {
        background-color: #E5D198;
        }


/* Responsive Framework as per Lecture 24 */

.row {
  width: 100%;
}

/**** Large device with responsive framework as per lecture 24***/

@media (min-width: 992px) {
  .collumn-lg-1, .collumn-lg-2, .collumn-lg-3, .collumn-lg-4, .collumn-lg-5, .collumn-lg-6, .collumn-lg-7, .collumn-lg-8, .collumn-lg-9, .collumn-lg-10, .collumn-lg-11, .collumn-lg-12 {
    float: left;
  }
  .collumn-lg-1 {
    width: 8.33%;
  }
  .collumn-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .collumn-lg-4 {
    width: 33.33%;
  }
  .collumn-lg-5 {
    width: 41.66%;
  }
  .collumn-lg-6 {
    width: 50%;
  }
  .collumn-lg-7 {
    width: 58.33%;
  }
  .collumn-lg-8 {
    width: 66.66%;
  }
  .collumn-lg-9 {
    width: 74.99%;
  }
  .collumn-lg-10 {
    width: 83.33%;
  }
  .collumn-lg-11 {
    width: 91.66%;
  }
  .collumn-lg-12 {
    width: 100%
  }
}

/*** Medium device with responsive framework as per lecture 24 ***/
@media (min-width: 768px) and (max-width: 991px) {
  .collumn-md-1, .collumn-md-2, .collumn-md-3, .collumn-md-4, .collumn-md-5, .collumn-md-6, .collumn-md-7, .collumn-md-8, .collumn-md-9, .collumn-md-10, .collumn-md-11, .collumn-md-12 {
    float: left;
  }
  .collumn-md-1 {
    width: 8.33%;
  }
  .collumn-md-2 {
    width: 16.66%;
  }
  .collumn-md-3 {
    width: 25%;
  }
  .collumn-md-4 {
    width: 33.33%;
  }
  .collumn-md-5 {
    width: 41.66%;
  }
  .collumn-md-6 {
    width: 50%;
  }
  .collumn-md-7 {
    width: 58.33%;
  }
  .collumn-md-8 {
    width: 66.66%;
  }
  .collumn-md-9 {
    width: 74.99%;
  }
  .collumn-md-10 {
    width: 83.33%;
  }
  .collumn-md-11 {
    width: 91.66%;
  }
  .collumn-md-12 {
    width: 100%;
  }
}
